---

- name: configure MariaDB root password
  ansible.builtin.debconf:
    name: 'mariadb-server'
    question: '{{ item }}'
    vtype: 'password'
    value: '{{ moodlebox_db_root_password }}'
  with_items:
    - 'mysql-server/root_password'
    - 'mysql-server/root_password_again'
  register: configure_mariadb_install

- name: install MariaDB
  ansible.builtin.apt:
    pkg: 'mariadb-server'
    state: 'present'
  when: configure_mariadb_install is successful
  register: install_mariadb
  until: install_mariadb is succeeded

- name: install python3-pymysql
  ansible.builtin.apt:
    pkg: 'python3-pymysql'
    state: 'present'
  register: pymysql_installed
  until: pymysql_installed is succeeded

- name: add '{{ moodlebox_db_username }}' MariaDB user with all privileges
  mysql_user:
    name: '{{ moodlebox_db_username }}'
    password: '{{ moodlebox_db_password }}'
    login_unix_socket: '/var/run/mysqld/mysqld.sock'
    priv: '*.*:ALL,GRANT'
  no_log: 'true'

- name: update MariaDB settings
  ansible.builtin.copy:
    src: 'etc/mysql/mariadb.conf.d/50-server.cnf'
    dest: '/etc/mysql/mariadb.conf.d/50-server.cnf'
    mode: '0644'

- name: restart MariaDB database
  ansible.builtin.systemd:
    name: 'mariadb'
    state: 'restarted'
