# MoodleBox wireless client configuration
# Created for {{ moodlebox_name }} {{ moodlebox_version }}, {{ moodlebox_release_date }}
ctrl_interface=DIR=/var/run/wpa_supplicant GROUP=netdev
update_config=1
country={{ moodlebox_wifi_sta_country }}

network={
    scan_ssid=1
    ssid="{{ moodlebox_wifi_sta_ssid }}"
    psk="{{ moodlebox_wifi_sta_password }}"
    proto=RSN
    key_mgmt=WPA-PSK
    pairwise=CCMP
    auth_alg=OPEN
}
