#!/bin/bash
#
# MoodleBox fix USB mount permissions script.
# Created for {{ moodlebox_name }} {{ moodlebox_version }}, {{ moodlebox_release_date }}
#
# This script is part of MoodleBox
# Copyright (C) 2023 onwards Nicolas Martignoni
#
# This script is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This script  is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this script.  If not, see <https://www.gnu.org/licenses/>.

# Fix USB mount permissions if needed.
# This script is intended to be run when a USB key is automatically mounted
# by daemon "devmon" of "udevil" utility.
# See /etc/udevil/udevil.conf for more info.

# This script MUST be run as root.
[[ $EUID -ne 0 ]] && { echo "This script must be run as root"; exit 1; }

USERNAME=$1

/usr/bin/chmod 775 /media/${USERNAME}/

exit 0
