---

- name: Reduce memory split down to 16Mb, as we are on a headless system
  ansible.builtin.lineinfile:
    path: '/boot/config.txt'
    line: 'gpu_mem=16'
    insertafter: '^\[all\]'
    firstmatch: true
  notify:
    - Reboot box

- name: Enable shutdown/startup hardware button
  ansible.builtin.lineinfile:
    path: '/boot/config.txt'
    line: 'dtoverlay=gpio-shutdown'
    insertafter: '^# Additional overlays and parameters'
  notify:
    - Reboot box

- name: Add script to fix hostname at the very first boot
  ansible.builtin.template:
    src: 'etc/init.d/fix_hostname_once.j2'
    dest: '/etc/init.d/fix_hostname_once'
    mode: '0755'

- name: Limit journald file size to 16 megabytes
  ansible.builtin.blockinfile:
    path: /etc/systemd/journald.conf.d/journald_moodlebox.conf
    create: yes
    block: |
      [Journal]
      SystemMaxUse=16M
  notify:
    - Restart journald service

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
