---

- name: Check if database for Moodle exists
  ansible.builtin.command: mysql -e 'SHOW DATABASES LIKE "{{ moodlebox_moodle_db }}"' -sN
  register: moodleuninstall_db_exists
  failed_when: moodleuninstall_db_exists.rc > 0
  changed_when: moodleuninstall_db_exists.stdout | length > 0
  notify:
    - Drop database for Moodle

- name: Remove temporary storage for Moodle cache
  ansible.posix.mount:
    name: '{{ item.name }}'
    state: 'unmounted'
  with_items:
    - { name: '/var/cache/moodle' }
    - { name: '{{ moodlebox_moodle_data_dir }}/temp' }
    - { name: '{{ moodlebox_moodle_data_dir }}/sessions' }

- name: Remove previous Moodle installation data and plugin
  ansible.builtin.file:
    path: '{{ item }}'
    state: 'absent'
  with_items:
    - '{{ moodlebox_moodle_data_dir }}'
    - '{{ moodlebox_moodle_source_dir }}/config.php'
    - '/var/cache/moodle'
    - '/var/cache/moodle-cache-backup'
    - '{{ moodlebox_moodle_source_dir }}/admin/tool/moodlebox'

- name: Set default direvent configuration
  ansible.builtin.copy:
    dest: '/etc/direvent.conf'
    content: |
      # This is the configuration file for direvent. Read
      # direvent.conf(5) for more information about how to
      # fill this file.
      #
    mode: '0644'

- name: Flush handlers
  ansible.builtin.meta: flush_handlers
