---

- name: Install adminer latest release
  ansible.builtin.get_url:
    url: 'https://github.com/vrana/adminer/releases/download/v{{ moodlebox_adminer_version }}/adminer-{{ moodlebox_adminer_version }}.php'
    dest: '{{ moodlebox_moodle_source_dir }}/public/adminer.php'
    owner: 'www-data'
    group: '{{ moodlebox_username }}'
    mode: '0664'
