# Default server configuration
#
server {
	listen 80 default_server;
	listen [::]:80 default_server;

	root {{ moodlebox_moodle_source_dir }};

	index index.php index.html index.htm index.nginx-debian.html;

	server_name {{ moodlebox_hostname }};

	location / {
		try_files $uri $uri/ =404;
	}

	location /dataroot/ {
		internal;
		alias {{ moodlebox_moodle_data_dir }}/;
	}

	location ~ [^/]\.php(/|$) {
		include fastcgi_params;
		fastcgi_split_path_info	^(.+\.php)(/.+)$;
		fastcgi_read_timeout	300;
		fastcgi_pass	unix:/var/run/php/php7.0-fpm.sock;
		fastcgi_index	index.php;
		fastcgi_param	PATH_INFO	$fastcgi_path_info;
		fastcgi_param	SCRIPT_FILENAME	$document_root$fastcgi_script_name;
		fastcgi_param	PHP_VALUE "max_execution_time=300\n upload_max_filesize=50M\n post_max_size=50M";
		client_max_body_size	50M;
	}

}
