---

- name: Reboot box
  ansible.builtin.reboot:

- name: Restart networking
  ansible.builtin.systemd:
    name: 'networking'
    state: 'restarted'

- name: Restart web services
  ansible.builtin.systemd:
    name: '{{ item }}'
    state: 'restarted'
    daemon_reload: 'yes'
  with_items:
    - 'nginx'
    - 'php8.2-fpm'

- name: Restart direvent
  ansible.builtin.systemd:
    name: 'direvent'
    state: 'restarted'
