
This is MoodleBox version {{ moodlebox_version }}, {{ moodlebox_release_date }}.

MoodleBox is made by Nicolas Martignoni, https://github.com/martignoni/moodlebox.
Please read the documentation at https://moodlebox.net/.

